* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Arka plan hafif siyah */
  z-index: 1; /* Overlay'in sepetin altında olmasını sağlar */
  display: none; /* Başlangıçta görünmez olarak ayarlandı */
}

input[type=date],
input[type=time] {
    border            : none;
    box-sizing        : border-box;
    outline           : 0;
    padding-left      : .75rem;
    display           : flex;
    justify-content   : center;
    position          : relative;
    width             : 100%;
    -moz-appearance   : textfield;
    -webkit-appearance: none;
    margin            : 0;
}

input[type=date]::placeholder,
input[type=time]::placeholder {
    font-family: 'Roboto';
    font-size  : 17px;
    font-style : normal;
    font-weight: 400;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
    background: none;
    bottom    : 0;
    color     : transparent;
    cursor    : pointer;
    height    : auto;
    left      : 0;
    position  : absolute;
    right     : 0;
    top       : 0;
    width     : auto;
}


input[type=date]::-webkit-datetime-edit,
input[type=time]::-webkit-datetime-edit {
    text-align: center;
    width     : 100%;
}

.customFooter a {
  opacity: 80%;
  font-size: 18px;
}

.customFooter label {
  font-family: "Bebas Neue", "sans-serif";
}

.customFooter a:hover {
  opacity: 100%;
}

.headerStyle-1 > a {
  font-family: "Roboto", sans-serif;
  padding: 3px 0px 3px 0px;
  font-weight: 300;
  opacity: 0.7;
}

.headerStyle-1 > a:hover {
  opacity: 1;
  font-weight: 400;
}

.headerStyle-1 > a:first-child {
  font-weight: 500;
  font-size: 16px;
  opacity: 1;
}

.headerStyle-1 > a:first-child:hover {
  text-decoration: underline;
}

.c_header-1 {
  background-color: rgb(17, 17, 17);
  color: #fff;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.c_header-2 {
  background-color: rgb(17, 17, 17);
  color: #fff;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.c_header-3 {
  background-color: rgb(17, 17, 17);
  color: #fff;
  position: fixed;
  z-index: 50;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

label {
  font-family: "Roboto", "sans-serif";
}

.customFilterHeader {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
  text-transform: uppercase;
}

.customFilter > li {
  font-family: "Roboto", "sans-serif";
  padding: 6px 0px 6px 0px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.customFilter_2 > li {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  padding: 2px 0px 2px 0px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

.customFilter + ul > li:hover {
  color: rgba(0, 0, 0, 1);
}

input[type="radio"].customProductSize + label {
  font-size: 18px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.customBag::-webkit-scrollbar,
#filterContainer::-webkit-scrollbar {
  width: 10px;
}

.customBag::-webkit-scrollbar-track,
#filterContainer::-webkit-scrollbar-track {
  background: white;
}

.customBag::-webkit-scrollbar-thumb,
#filterContainer::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
}

#imgSliderContainer::-webkit-scrollbar {
  width: 0px;
}

input[type="radio"].customProductSize:not(:disabled) + label:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

input[type="radio"].customProductSize:checked + label {
  color: #fff;
  background: #000;
}

input[type="radio"].customProductSize:disabled + label {
  opacity: 0.3;
  cursor: not-allowed;
  background: rgb(216, 216, 216);
}

input[type="checkbox"].customProductsInfo + label {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.productDetailsText {
  font-size: 16px;
  font-family: "Roboto", "sans-serif";
  padding: 4px 8px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.productDetails:has(input[type="checkbox"].customProductsInfo:checked)
  .productDetailsText {
  max-height: 500px;
}

.fa-chevron-down {
  transition: all 0.3s ease;
}

.productDetails:has(input[type="checkbox"].customProductsInfo:checked)
  .fa-chevron-down {
  transform: rotate(180deg);
}

.customImg {
  height: auto;
  width: 200px;
  opacity: 0.5;
}

.customImg:hover {
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperOpacity .swiper-slide {
  opacity: 0.4;
}

.swiperOpacity .swiper-slide-thumb-active {
  opacity: 1;
}

.blog-section {
  width: 100%;
}

.blog-section .section-content {
  width: 85%;
  margin: 20px auto;
}

.blog-section .section-content .title {
  width: 60%;
  text-align: center;
  margin: auto;
}

.blog-section .section-content .title h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.blog-section .section-content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.blog-section .section-content .cards .card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-section .section-content .cards .card .image-section {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.blog-section .section-content .cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: scale 0.4s ease;
}

.blog-section .section-content .cards .card img:hover {
  scale: 1.1;
}

.blog-section .section-content .cards .card .article {
  padding: 15px 0px;
}

.blog-section .section-content .cards .card .article h4 {
  font-size: 24px;
  color: #4a4a4a;
  font-family: "Roboto", "sans-serif;";
}

.blog-section .section-content .cards .card .article p {
  font-size: 16px;
  margin: 10px 0px;
  color: #6a6a6a;
  font-family: "Roboto", "sans-serif;";
}

.blog-section .section-content .cards .card .btn {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: block;
  background-color: #000;
  padding: 5px 0px;
  color: #fff;
}

.blog-page .blog-page-sub {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
}

.blog-page .blog-page-sub .ghost-title {
  font-family: "Roboto", "sans-serif";
  text-transform: uppercase;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.blog-page .blog-main-title {
  font-family: "Roboto", "sans-serif";
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
  line-height: normal;
  margin: 20px auto 20px auto;
}

.blog-page .blog-page-content {
  width: 80%;
  margin: auto;
}

.blog-page .blog-page-content .content-title {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  padding: 5px 0px;
}

.blog-page .blog-page-content .content-paragraph {
  font-family: "Roboto", "sans-serif";
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  margin: 0px 0px 15px 0px;
}

.blog-page .blog-page-content .content-paragraph-2 {
  font-family: "Roboto", "sans-serif";
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  color: rgb(74, 131, 255);
  font-style: italic;
  text-decoration: underline;
  margin: 0px 0px 15px 0px;
}

.side-blog-title {
  font-family: "Roboto", "sans-serif";
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.side-blog {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
}

.side-blog-link {
  padding: 15px 0px 15px 0px;
}

.orderTable tr th,
.orderTable tr td {
  font-family: "Roboto", "sans-serif";
  padding: 20px;
}

.orderTable tr:nth-child(odd) {
  background-color: #f2f2f2c9;
}

.order-status {
  content: "";
  width: 50%;
  height: 5px;
  background-color: rgb(199, 199, 199);
  position: relative;
}

.preparing {
  content: "";
  width: 33%;
  height: 5px;
  background-color: rgb(98, 171, 255);
  position: absolute;
}

.invoiced {
  content: "";
  width: 66%;
  height: 5px;
  background-color: rgb(98, 171, 255);
  position: absolute;
}

.complete {
  content: "";
  width: 100%;
  height: 5px;
  background-color: rgb(98, 171, 255);
  position: absolute;
}

.status-bg {
  background-color: rgb(98, 171, 255) !important;
}

.order-status-item {
  position: absolute;
  font-size: 20px;
  background-color: rgb(199, 199, 199);
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

.fa-hourglass-half {
  left: 0;
  top: -15px;
}

.fa-receipt {
  left: 33%;
  top: -15px;
}

.fa-truck {
  left: 66%;
  top: -15px;
}

.fa-check {
  left: 100%;
  top: -15px;
}

.customLabel {
  position: relative;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.customLabel input {
  appearance: none;
  z-index: 1;
  position: relative;
}

.customLabel span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d8a9;
  border-radius: 80px;
  transition: 0.2s;
}

.customLabel input:checked + span {
  background-color: #5cb85c;
}

.customLabel span i {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

.customLabel input:checked + span i {
  left: 32px;
}

.customSB {
  position: absolute !important;
  padding: 30px;
  margin: 0px 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0000005b;
  border-radius: 50%;
}

.customSB::after {
  font-size: 24px !important;
  color: #fff;
}

.customPagination .swiper-pagination-bullet {
  background-color: rgb(197, 197, 197) !important;
  padding: 1px 50px !important;
  border-radius: 0px;
}

.customPagination .swiper-pagination-bullet-active {
  background-color: rgb(230, 230, 230) !important;
  border-radius: 0px;
}

.customBtn2 {
  font-family: "Roboto", "sans-serif";
  font-size: 40px;
  font-weight: 300;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #000;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.customBtn2:hover {
  color: #fff;
}

.customBtn2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 100%;
  left: 0;
  z-index: -1;
  transition: top 0.3s ease;
}

.customBtn2:hover::after {
  top: 0;
}

.customPagination2 .swiper-pagination-bullet {
  font-size: 20px !important;
  position: relative !important;
  font-family: "Roboto", "sans-serif";
  margin: 0px 20px !important;
  z-index: 1;
  color: #fff;
}

.customPagination2 .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 50%;
  transform: translateX(-45%);
  padding: 14px;
  z-index: -1;
}

.customSearch {
  outline: none;
  color: #fff;
  padding: 8px 10px 8px 30px;
  background-color: #111;
  border: 1px solid #444;
  font-family: "Roboto", "sans-serif";
  display: none;
}

.customSearch::-webkit-search-cancel-button {
  display: none;
}

.customProductsCheckboxes {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.customProductsCheckboxes::before {
  content: "";
  width: 17px;
  height: 17px;
  margin-bottom: 2px;
  border-radius: 2px;
  margin-right: 6px;
  border: 0.05em solid #000;
}

.customContainer input[type="checkbox"]:checked + label::before {
  content: "\002714";
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
}

input[type="checkbox"].colorInput:checked + .colorLabel::before {
  content: "\002714";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
}

.customBox {
  position: relative;
}

.customBox input {
  font-family: "Roboto", "sans-serif";
  width: 100%;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.customBox span {
  font-family: "Roboto", "sans-serif";
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.customBox input:valid ~ span,
.customBox input:focus ~ span {
  transform: translate(20px, -6px);
  font-size: 10px;
  padding: 0px 5px;
  background: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #000000b9;
}

.entryPromo {
  height: 0;
  overflow: hidden;
}

.promoContainer .sub-promo:has(input[type="checkbox"]:checked) + .entryPromo {
  height: auto;
}

.promoContainer
  .sub-promo:has(input[type="checkbox"]:checked)
  .fa-chevron-down {
  transform: rotate(-180deg);
}

.rating-stars label {
  transition: all 0.2s ease;
  float: right;
  padding: 4px;
}

.rating-stars input:not(:checked) ~ label:hover,
.rating-stars input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

.rating-stars input:checked ~ label {
  color: #fd4;
}

.rating-stars input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 5px #952;
}

#rate-1:checked ~ form header::before {
  content: "Hiç memnun kalmadım";
}

.rating-stars:has(input[type="radio"]#rate-1:checked) + form header::before {
  content: "Hiç memnun kalmadım";
}
.rating-stars:has(input[type="radio"]#rate-2:checked) + form header::before {
  content: "Beğenmedim";
}
.rating-stars:has(input[type="radio"]#rate-3:checked) + form header::before {
  content: "İdare Eder";
}
.rating-stars:has(input[type="radio"]#rate-4:checked) + form header::before {
  content: "Beğendim";
}
.rating-stars:has(input[type="radio"]#rate-5:checked) + form header::before {
  content: "Çok Beğendim";
}

.rating-container form {
  display: none;
}

.rating-stars:has(input:checked) + form  {
  display: block;
}

@media (max-width: 1280px) {
  .blog-section .section-content .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: center;
  }

  .blog-section .section-content .cards .card {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .blog-page .blog-page-sub {
    flex-direction: column;
  }

  .blog-page .blog-page-content {
    width: 100%;
    margin: auto;
  }

  .order-status {
    width: 100%;
  }

  .preparing {
    content: "";
    width: 33%;
    height: 5px;
    background-color: rgb(98, 171, 255);
    position: absolute;
  }

  .invoiced {
    content: "";
    width: 66%;
    height: 5px;
    background-color: rgb(98, 171, 255);
    position: absolute;
  }

  .complete {
    content: "";
    width: 100%;
    height: 5px;
    background-color: rgb(98, 171, 255);
    position: absolute;
  }
  .fa-hourglass-half {
    left: 0;
    top: -10px;
  }

  .fa-receipt {
    left: 33%;
    top: -10px;
  }

  .fa-truck {
    left: 66%;
    top: -10px;
  }

  .fa-check {
    left: 98%;
    padding-right: 5px;
    top: -10px;
  }

  .order-status-item {
    font-size: 16px;
    padding: 5px;
  }

  .orderTable tr th,
  .orderTable tr td {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .blog-section .section-content .cards {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .blog-section .section-content {
    width: 95%;
  }

  .fa-check {
    left: 96%;
    padding-right: 5px;
    top: -10px;
  }

  .orderTable tr th,
  .orderTable tr td {
    padding: 6px;
    font-size: 14px;
  }

  .footerHidden {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .customFooter:has(input[type="checkbox"]:checked) .footerHidden {
    max-height: 250px;
  }

  .customFooter:has(input[type="checkbox"]:checked) .fa-chevron-down {
    transform: rotate(-180deg);
  }

  .customBtn2 {
    font-size: 24px;
  }

  .customPagination2 .swiper-pagination-bullet {
    font-size: 20px !important;
    margin: 0px 14px !important;
  }
}

@media (min-width: 1024px) {
  .side-blog-link:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .man:hover .manDropDown,
  .women:hover .womenDropDown,
  .kids:hover .kidsDropDown,
  .spor:hover .sporDropDown,
  .newSeason:hover .newSeasonDropDown,
  .specialSale:hover .specialSaleDropDown {
    display: flex;
  }

  .customUl:has(.man:hover) .women,
  .customUl:has(.man:hover) .kids,
  .customUl:has(.man:hover) .spor,
  .customUl:has(.man:hover) .newSeason,
  .customUl:has(.man:hover) .specialSale,
  .customUl:has(.women:hover) .man,
  .customUl:has(.women:hover) .kids,
  .customUl:has(.women:hover) .spor,
  .customUl:has(.women:hover) .newSeason,
  .customUl:has(.women:hover) .specialSale,
  .customUl:has(.kids:hover) .man,
  .customUl:has(.kids:hover) .women,
  .customUl:has(.kids:hover) .spor,
  .customUl:has(.kids:hover) .newSeason,
  .customUl:has(.kids:hover) .specialSale,
  .customUl:has(.spor:hover) .man,
  .customUl:has(.spor:hover) .women,
  .customUl:has(.spor:hover) .kids,
  .customUl:has(.spor:hover) .newSeason,
  .customUl:has(.spor:hover) .specialSale,
  .customUl:has(.newSeason:hover) .man,
  .customUl:has(.newSeason:hover) .women,
  .customUl:has(.newSeason:hover) .kids,
  .customUl:has(.newSeason:hover) .spor,
  .customUl:has(.newSeason:hover) .specialSale,
  .customUl:has(.specialSale:hover) .man,
  .customUl:has(.specialSale:hover) .women,
  .customUl:has(.specialSale:hover) .kids,
  .customUl:has(.specialSale:hover) .spor,
  .customUl:has(.specialSale:hover) .newSeason {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .manSpan::before,
  .womenSpan::before,
  .kidsSpan::before,
  .newSeasonSpan::before,
  .sporSpan::before,
  .specialSaleSpan::before {
    transition: all 0.3s ease;
    content: "";
    width: 110%;
    height: 3px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    opacity: 0;
  }

  .man:hover .manSpan::before,
  .women:hover .womenSpan::before,
  .kids:hover .kidsSpan::before,
  .spor:hover .sporSpan::before,
  .newSeason:hover .newSeasonSpan::before,
  .specialSale:hover .specialSaleSpan::before {
    content: "";
    width: 110%;
    height: 3px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 1;
  }

  .customSearchActive {
    display: inline-block !important;
  }
  
  .customSearchAbsolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
  }
}